[main]
DEVELOP = false
LOG_DIR = {{ app_log }}
ALLOWED_HOSTS_ = {{ app_servername }}
STATIC_ROOT = {{ app_assets }}/
STATIC_URL = /static/
MEDIA_ROOT = {{ app_uploads }}/uploads
MEDIA_URL = http://127.0.0.1/media/
PROTECTED_MEDIA_ROOT = {{ app_uploads }}/private
PROTECTED_MEDIA_URL = /files/
TRACKING_CODE = PCEtLSBQaXdpayAtLT4NCjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0Ij4NCiAgdmFyIF9wYXEgPSBfcGFxIHx8IFtdOw0KICBfcGFxLnB1c2goWyJ0cmFja1BhZ2VWaWV3Il0pOw0KICBfcGFxLnB1c2goWyJlbmFibGVMaW5rVHJhY2tpbmciXSk7DQoNCiAgKGZ1bmN0aW9uKCkgew0KICAgIHZhciB1PSgoImh0dHBzOiIgPT0gZG9jdW1lbnQubG9jYXRpb24ucHJvdG9jb2wpID8gImh0dHBzIiA6ICJodHRwIikgKyAiOi8vd3d3LmFiZG91cmFraG1hbmUubmV0L3Bpd2lrLyI7DQogICAgX3BhcS5wdXNoKFsic2V0VHJhY2tlclVybCIsIHUrInBpd2lrLnBocCJdKTsNCiAgICBfcGFxLnB1c2goWyJzZXRTaXRlSWQiLCAiMiJdKTsNCiAgICB2YXIgZD1kb2N1bWVudCwgZz1kLmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpLCBzPWQuZ2V0RWxlbWVudHNCeVRhZ05hbWUoInNjcmlwdCIpWzBdOyBnLnR5cGU9InRleHQvamF2YXNjcmlwdCI7DQogICAgZy5kZWZlcj10cnVlOyBnLmFzeW5jPXRydWU7IGcuc3JjPXUrInBpd2lrLmpzIjsgcy5wYXJlbnROb2RlLmluc2VydEJlZm9yZShnLHMpOw0KICB9KSgpOw0KPC9zY3JpcHQ+DQo8IS0tIEVuZCBQaXdpayBDb2RlIC0tPg==

[database]
DATABASE_ENGINE_ = django.db.backends.sqlite3
DATABASE_NAME_ = {{ app_home }}/database.db
DATABASE_USER_ =
DATABASE_PASSWORD_ = 
DATABASE_HOST_ = 
DATABASE_PORT_ =
TEST_DATABASE_NAME_ = 

[secrets]
SECRET_KEY = ljfoauproazirslkfqmjqmjmj
CSRF_MIDDLEWARE_SECRET = qjmsfj!jmjdf###lsmkdjao

[cookies]
SESSION_COOKIE_DOMAIN =

# all settings in debug section should be false in productive environment
# INTERNAL_IPS should be empty in productive environment
[debug]
DEBUG = false
TEMPLATE_DEBUG = false
VIEW_TEST = false
INTERNAL_IPS_ = 
SKIP_CSRF_MIDDLEWARE = false

[email]
SERVER_EMAIL = assets@localhost
EMAIL_HOST = localhost

# the [admins] and [managers] sections are special. Just add lines with
#  full name = email_address@domain.xx
# each section must be present but may be empty.
[admins]
#Admin = admin@localhost

[managers]
#Admin = admin@localhost
